<ion-header no-border>
  <div class="header__top"></div>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ lista.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-label position="floating">Nuevo Item</ion-label>
        <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
      </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-list-header>Sin Completar</ion-list-header>
  </ion-list-header>

  <ion-item *ngFor="let item of lista.items">
    <ion-checkbox slot="start" [(ngModel)]="item.completado"></ion-checkbox>
    <ion-label>{{ item.desc }}</ion-label>
  </ion-item>

</ion-content>
